:root{

    --main-background-color:#1F2833; 
    --secondary-background-color:#45A29E;
    --assignment-color:#66fCF1;
    --text-color: #240090;
    --border-color: white;
    --highlight-color: #3500D3;
    

}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:var(--main-background-color);
}
/*Structure*/

#main-content{
    width:80%;
    margin:auto;
    background:#45A29E ;
    padding:5px;
}
#main-header{
     background: #557a95; 
     border-bottom: 4px solid var(--border-color);
     padding:5px;
}
.assignment{
    background: var(--assignment-color);
    border-radius: 20px;
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.assignment img{
    max-width: 300px;
    max-height:150px;
    display:block;
    margin-left:auto;
    margin-right: auto;
   
}
.assignment a{
    text-decoration: none;
}
.assignment:hover{
    background:var(--highlight-color);
}
 
/*Typography*/

#main-header h1{
    text-align: center;
    margin-top: 0px;
}



h1,
h2,
h3,
p{
    color:var(--text-color)
}

/*navigation*/

.assignment h3{
    text-align: center;
}


p{
    text-align: center;
}
#main-footer{
    font-weight: bold;
}



@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        flex-wrap:wrap;
    }
    .one{
        flex:50%;
    }
    .assignment{
        min-height: 300px;
        max-height: 600px;
        height: fit-content;
        width: 400px;
    }
}
