

/*Structure */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/Summercampbackground.jpg);
    
}
#content{
    background-color:#97CDEB ;
    width:85%;
    padding:7px;
    margin:auto 
   

}

/*Navigation*/

#main-nav a{
    text-decoration:none;
    background:lightblue;
    color:black;
    border-radius: 5px;
    padding:4px
    
}
#main-nav a:hover{
    background: #7DA87E;
}

/*Tables*/
table{
    border-collapse: collapse;
}
/*images*/

img{
    border: 4px soild green;
    padding: 40px;
    border-radius: 5px;

}

th,
td{
    border:1px solid black;
    padding: 4px;
    background-color: white;
    

}
th {
    background: #7DA87E;
}
    






/*Typography*/

h1{
    color:darkgreen;
}
h2{
    color:darkorange;
}

    

