
:root{

--secondary-background-color:white;
--section-color:#ffb533;
--text-color: black;
--border-color:grey;
--highlight-color:lightblue ;

}
body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(images/Seattle.png) ;
}

/*Structure*/

#main-content{
    width:80%;
    margin:auto;
    background:var(--secondary-background-color) ;
    padding:5px;
}
h1
h2{
    text-align: center;
}
.section a{
    text-decoration: none;
}












.nav-dropdown{
    display: inline-block;
}

.nav-dropdown button{
    background-color: antiquewhite;
    color: black;
    border: none;
    cursor: pointer;
}
.nav-dropdown a{
    display: block;
    color:black;
    text-decoration: none;
    padding: 10px;
}
.nav-dropdown .content{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 50px;
    box-shadow: 2px 2px 5px lightblue;
}
.nav-dropdown:hover .content{
    display:block;

}
.nav-dropdown:hover .button{
    background-color: lightblue ;

}
.nav-dropdown a:hover{
    background-color: aqua;
}

@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        flex-wrap:wrap;
    }
    
    .section{
        min-height: 300px;
        max-height: 600px;
        height: fit-content;
        width: 400px;
    }
}