
:root{

--secondary-background-color:lightgreen;
--section-color:#ffb533;
--text-color: black;
--border-color:grey;
--highlight-color:lightblue ;

}
body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(images/Seattle.png);
   
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.parallax {
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}

.home {
    background-image: url("images/Seattle.png");
}

.face {
    background-image: url("images/seattle6.jpg");
}

.leash {
    background-image: url("images/seattl7.jpg");
}

.info-section {
    background-color: #74c23d;
    text-align: center;
    font-size: 24px;
    padding: 1.5%;
    color: white;
}
.info-section a{

    text-decoration: none;
}


.info-section section {
    padding: 0 10px;
    margin: 0 10px;
}
.info-section h3{
    text-align: center;
}

img {
    margin:auto;
    max-width: 90%;
    max-height: 90%;
}

.info-section img {
    max-width: 300px;
}

.text-center p {
    width: 60%;
    margin: auto;
}


/* Main Menu */

#main-menu {
    z-index: 1;
    background-color:#15387e ;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-menu ul {
    float: right;
    overflow: hidden;
    margin-right: 2%;
}

#main-menu li {
    list-style-type: none;
    display: inline-block;
}

#main-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


/* Typography */

.parallax h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    font-size: 5em;
}

.parallax h3 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    top: 25%;
    font-size: 3em;
}

.down-arrow {
    text-decoration: none;
    color: white;
    font-size: 3em;
}


/* Larger resolutions */

@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }
    .flex2 {
        flex: 2;
    }
    .flex1 {
        flex: 1;
    }
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#main-nav a{
   
}
#main-nav a:hover{

    color: aquamarine;
}
#main-nav{

    background-color: aqua;
    padding: 20px;
}
#main-header{
    background: aqua; 
    border-bottom: 4px solid var(--border-color);
    padding:10px;
}
.section{
    float:right;
    margin: 0 1.5%;
    width:50%;
}
#main-header h1{
    text-align: center;
    margin-top: 0px;
    color: #50C878;
}

.form-section {
    text-align: left;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    display: block;
}

.small-button {
    padding: 5px 10px; /* Smaller padding */
    font-size: 12px; /* Smaller font size */
    color: blue;
    border: 2px solid lightblue; /* Adjust border size as needed */
    border-radius: 5px; /* Optional: Adds rounded corners */
    background-color: transparent;
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    margin: 0 5px; /* Optional: Adds space between buttons */
}

.small-button:hover {
    background-color: #D70060; /* Color changes on hover */
    color: #FFFFFF;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}


.deals-header h1 {
    font-size: 3em; /* Adjust the size as needed */
  }
  
  .deals-header p {
    font-size: 1.2em; /* Adjust the size as needed */
  }
  
  .deals-form {
    margin-top: 20px;
  }
  
  .deals-form input[type="text"],
  
  
  .deals-form button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid #fff; /* White border */
    background: greenyellow;
    color: blue;
    cursor: pointer;
  }
  
  .deals-form button:hover {
    background: red;
    color: #000;
  }
  
 
  
 
.nav-dropdown{
    display:inline-block;
}


.nav-dropdown button{
    background-color:#15387e ;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.nav-dropdown a{
    display: block;
    color:#595a5c;
    text-decoration: none;
    padding: 10px;
}
.nav-dropdown .content{
    display: none;
    position: absolute;
    background-color:#595a5c;
    min-width: 50px;
    box-shadow: 2px 2px 5px lightblue;
}
.nav-dropdown:hover .content{
    display:block;

}
.nav-dropdown:hover .button{
    background-color: lightblue ;

}
.nav-dropdown a:hover{
    background-color: aqua;
}

/*Structure*/

#main-content{
    width:80%;
    margin:auto;
    background:var(--secondary-background-color) ;
    padding:5px;
}
#main-content h2{
    text-align: center;
    
}
h1
h2{
    text-align: center;
}
.section a{
    
    text-decoration: none;
}
.section{
    
    border-radius: 20px;
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color:#15387e ;
    border-left-width: 10px;
    border-right-width: 10px;
    margin: 0 auto;
    display: flex;
   

}

.section img{

    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
    
    

}

.section p{
    text-decoration: none;
}
img{
    
    max-width: 500px;
    max-height: 350px;
    

}
.centerpic{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .deals-header h1 {
      font-size: 2em;
    }
  
    .deals-header p {
      font-size: 1em;
    }
  
    .deals-form input[type="text"],
    .deals-form button {
      padding: 5px;
      font-size: 0.8em;
    }
  }

@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        flex-wrap:wrap;
    }
    
    .section{
        min-height: 300px;
        max-height: 600px;
        height: fit-content;
        width: 400px;
    }
}